<div class="footer-nav">
  <div class="container">
    <div class="left">
      <div class="logo">
        <img src="./../../assets/logo.png" alt="">
      </div>
      <div class="social-item social-address">
        <div class="img-box">
          <img src="./../../assets/icon/footer_address.png" alt="">
        </div>
        <div class="social-address">
          <div>{{translations.foot.foot_info_1 | translate }}</div>
          <div>{{translations.foot.foot_info_2 | translate }}</div>
        </div>
      </div>
      <div class="social-box">
        <div class="social-item">
          <div class="img-box">
            <img src="./../../assets/icon/footer_mail.png" alt="">
          </div>
          <div class="social-info">{{translations.foot.foot_info_5 | translate }}</div>
        </div>
        <div class="social-item">
          <div class="img-box">
            <img src="./../../assets/icon/footer_mail.png" alt="">
          </div>
          <div class="social-info">{{translations.foot.foot_info_7 | translate }}</div>
        </div>
      </div>
      <div class="social-box">
        <div class="social-item">
          <div class="img-box">
            <img src="./../../assets/icon/footer_phone.png" alt="">
          </div>
          <div class="social-info">{{translations.foot.foot_info_3 | translate }}</div>
        </div>
        <div class="social-item">
          <div class="img-box">
            <img src="./../../assets/icon/footer_tg.png" alt="">
          </div>
          <div class="social-info">{{translations.foot.foot_info_6 | translate }}</div>
        </div>
        <!-- <div class="social-item">
          <div class="img-box">
            <img src="./../../assets/icon/footer_wechat.png" alt="">
          </div>
          <div class="social-info">{{translations.foot.foot_info_4 | translate }}</div>
        </div> -->
      </div>
    </div>
    <div class="right">
      <div class="nav">
        <span (click)="moveType(9, 'solutions')">{{translations.menu.menu_title_2 | translate }}</span>
        <!-- <div class="info info-color" (click)="move(7, 'about')">{{translations.nav.menu_2_2 | translate }}</div> -->
        <div class="info info-color" (click)="move(10, 'solutions')">{{translations.menu.menu_info_2_1 | translate }}</div>
        <div class="info info-color" (click)="move(12, 'solutions')">{{translations.menu.menu_info_2_2 | translate }}</div>
        <div class="info info-color" (click)="move(11, 'solutions')">{{translations.menu.menu_info_2_3 | translate }}</div>
        <div class="info info-color" (click)="move(4, 'solutions')">{{translations.menu.menu_info_2_4| translate }}</div>
      </div>
      <div class="nav">
        <span (click)="moveType(13, 'partners')">{{translations.menu.menu_title_3 | translate }}</span>
        <div class="info info-color" (click)="move(14, 'partners')">{{translations.menu.menu_info_3_1 | translate }}</div>
        <div class="info info-color" (click)="move(4, 'partners')">{{translations.menu.menu_info_3_2 | translate }}</div>
      </div>
      <div class="nav">
        <span (click)="moveType(6, 'about')">{{translations.menu.menu_title_4 | translate }}</span>
        <div class="info info-color" (click)="move(7, 'about')">{{translations.menu.menu_info_4_1 | translate }}</div>
        <div class="info info-color" (click)="move(16, 'about')">{{translations.menu.menu_info_4_2 | translate }}</div>
      </div>
      <!-- <div class="nav">
        <span (click)="move(0, 'contact')">{{translations.nav.menu_5_0 | translate }}</span>
      </div> -->
    </div>
  </div>
</div>
<div class="copyright-box">© Copyright 2021 Siraya All Rights Reserved.</div>