<div>
  <div class="box_16">
    <div class="container">
      <div class="row" data-aos="fade-up" data-aos-duration="1300">
        <div class="title">{{translations.contact.contact_info_1 | translate }}</div>
        <div class="title">{{translations.contact.contact_info_2 | translate }}</div>
      </div>
    </div>
  </div>

  <div id="16" class="box_contact page">
    <div class="container">
      <div class="row">
        <div class="title" data-aos="fade-down" data-aos-duration="1300">
          {{translations.contact.contact_info_1 | translate }}
          {{translations.contact.contact_info_2 | translate }}
        </div>
        <div class="form-content">
          <div class="bg-img-1" data-aos="fade-left" data-aos-duration="1300">
            <img src="./../../assets/bg_info_16-1.png" alt="">
          </div>
          <div class="bg-img-2" data-aos="fade-right" data-aos-duration="1300">
            <img src="./../../assets/bg_info_16-2.png" alt="">
          </div>
          <div class="bg-img-3" data-aos="fade-right" data-aos-duration="1300">
            <img src="./../../assets/bg_info_16-3.png" alt="">
          </div>
          <div class="title-img">
            <img src="./../../assets/contact_form.png" alt="">
          </div>
          <div class="form-info" data-aos="fade-up" data-aos-duration="1800">
            <div class="input-box">
              <div class="input-title">{{translations.partners.partners_info_9 | translate }}*</div>
              <input [ngClass]="{'check': checkFirstName}" type="text" [(ngModel)]="firstName" autocomplete="off" placeholder="" type="text">
              <div *ngIf="checkFirstName" class="check-info">*{{translations.partners.partners_info_16 | translate }}</div>
            </div>
            <div class="input-box">
              <div class="input-title">{{translations.partners.partners_info_10 | translate }}*</div>
              <input [ngClass]="{'check': checkLastName}" type="text" [(ngModel)]="lastName" autocomplete="off" placeholder="" type="text">
              <div *ngIf="checkLastName" class="check-info">*{{translations.partners.partners_info_16 | translate }}.</div>
            </div>
            <div class="input-box">
              <div class="input-title">{{translations.partners.partners_info_11 | translate }}</div>
              <input type="text" [(ngModel)]="companyName" autocomplete="off" placeholder="" type="text">
            </div>
            <div class="input-box">
              <div class="input-title">{{translations.partners.partners_info_12 | translate }}</div>
              <input type="text" [(ngModel)]="phone" autocomplete="off" placeholder="" type="number">
            </div>
            <div class="input-box">
              <div class="input-title">{{translations.partners.partners_info_13 | translate }}*</div>
              <input [ngClass]="{'check': checkMail}" type="text" [(ngModel)]="mail" autocomplete="off" placeholder="">
              <div *ngIf="checkMail" class="check-info">*{{translations.partners.partners_info_16 | translate }}</div>
            </div>
            <div class="input-box">
              <div class="input-title">{{translations.partners.partners_info_14 | translate }}*</div>
              <textarea [ngClass]="{'check': checkMessage}" [(ngModel)]="message" cols="20" rows="5"></textarea>
              <div *ngIf="checkMessage" class="check-info">*{{translations.partners.partners_info_16 | translate }}</div>
            </div>
            <div class="btn-box" (click)="send()">{{translations.partners.partners_info_15 | translate }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isShowCdk" class="cdk">Send success!</div>