.box{
  position: fixed;
  width: 100%;
  z-index: 111;
  background: #222222;
  box-shadow: 0 0 2px 1px #0000002e;
}
.row{
  position: relative;
  width: 100%;
  background: #222222;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  height: 80px;
  z-index: 10;
}
.nav-box{
  display: flex;
  justify-content: flex-end;
  width: 75%;
}
.item-hover-box{
  display: none;
  position: absolute;
  top: 64px;
  left: 5%;
  padding: 20px 25px;
  width: 170px;
  flex-wrap: wrap;
  background: #222;
  transition: 0.5s;
  &.not-en{
    width: 160px;
  }
  &::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 5px;
    top: -8px;
    left: 25%;
    transform: translateX(-50%);
    background: red;
  }
  &.lang{
    width: 80px;
  }
}
.item{
  // width: 120px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  color: #fff;
  font-weight: bold;
  transition: .5s;
  cursor: pointer;
  &:hover{
    .item-hover-box{
      display: flex;
    }
  }
  &:nth-child(5){
    .item-hover-box{
      width: 100px;
    }
  }
  &::before{
    position: absolute;
    content: "";
    top: 26px;
    width: 80px;
    height: 38px;
  }
  &.contact{
    padding: 0;
    width: 120px;
    border-radius: 20px;
    background: linear-gradient(to bottom, #FF6227, #D20900);
    &:hover{
      background: linear-gradient(to top, #FF6227, #D20900);
    }
  }
}
.lang-img-box{
  margin-right: 8px;
  width: 25px;
  img{
    width: 100%;
  }
}
.lang-img-box-moible{
  width: 150px;
  display: flex;
  align-items: center;
}
.item-hover{
  position: relative;
  width: 100%;
  margin: 7px 0;
  font-size: .9rem;
  text-align: left;
  color: #fff;
  transition: .5s;
  padding-left: 15px;
  &:hover{
    color: red;
  }
  &.active{
    &::before{
      content: '';
      position: absolute;
      background-image: url('./../../assets/icon/ic_correct.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 16px;
      height: 16px;
      left: -9px;
    }
  }
}
.img-box{
  margin-left: 15px;
  cursor: pointer;
  img{
    width: 100%;
  }
}

#mobileMenu {
  display: none;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  span {
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transition: transform .3s ease 0s;
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        top: ($i - 1) * 10px;
      }
    }
  }
}
#nav-mobile{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 100px;
  color: #838383;
  background: #222222;
  overflow: scroll;
  z-index: 10;
  box-shadow: inset 0 0 2px #00000078;
  a{
    padding: 0 15px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    color: #fff;
    cursor: pointer;
    &.active{
      background: #D30A01;
    }
    &:hover,
    &:focus{
      color: #fff;
    }
    img{
      &.rotate{
        transform: rotate(180deg);
      }
    }
  }
  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #000;
    li{
      padding: 15px 25px;
      font-size: .8rem;
      color: #fff;
      border-bottom: 1px solid #303030;
      cursor: pointer;
      &:last-child{
        border-bottom: 0;
      }
    }
  }
  &.hide{
    display: none;
  }
  &.active{
    display: block;
  }
  .item-moible-box{
    display: none;
    &.active{
      display: block;
    }
    .item-moible{
      &.lang{
        padding-left: 55px; 
      }
      &:hover,
      &:focus{
        color: red;
      }
      &.active{
        &::before{
          content: '';
          position: absolute;
          background-image: url('./../../assets/icon/ic_correct.png');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          width: 16px;
          height: 16px;
          left: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .item:nth-child(5){
    .item-hover-box{
      left: -50%;
    }
  }
}
@media only screen and (max-width: 991px) {
  :host{
    .container{
      height: 100px;
      max-width: 100%;
    }
  }
  .row{
    position: fixed;
  }
  .nav-box{
    display: none;
  }
  #mobileMenu {
    display: block;
    &.active {
      span {
        &:nth-child(1),
        &:nth-child(3) {
          top: 15px;
          transform: rotate(45deg);
          transform-origin: center;
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  :host{
    .container{
      height: 70px;
    }
  }
  .img-box{
    width: 150px;
  }
  .row{
    height: 50px;
  }
  #nav-mobile{
    top: 70px;
  }
  .container{
    height: 70px;
  }
}
@media only screen and (max-width: 576px) {
  .img-box{
    width: 100px;
    margin-left: 15px;
  }
  .row{
    box-shadow: 0 0 2px 1px #0000002e;
  }
}