<div id="9" class="box_9">
  <div class="container">
    <div class="row" data-aos="fade-right" data-aos-duration="1300">
      <div class="title">{{translations.product.product_1 | translate }}</div>
      <div class="info">
        <span>{{translations.product.product_2 | translate }}</span>
        <span>{{translations.product.product_3 | translate }}</span>
        <span>{{translations.product.product_4 | translate }}</span>
      </div>
      <div class="contact-box font-montserrat-bold" (click)="popPopContact()">{{translations.home_1.row1_4 | translate }}</div>
      <div class="scroll-down font-montserrat-bold" (click)="move(10)">
        <div>{{translations.home_1.row1_5 | translate }}</div>
        <img src="./../../assets/icon/scroll-down.png" alt="">
      </div>
    </div>
  </div>
</div>

<div id="10" class="box_10 page">
  <div class="container">
    <div class="row">
      <div class="title-box">
        <div class="title font-montserrat-bold">{{translations.product.product_5 | translate }}</div>
        <div class="info font-montserrat">{{translations.product.product_6 | translate }}</div>
      </div>
      <div class="content">
        <div class="item">
          <div class="left">
            <div class="item-title">{{translations.product.product_7 | translate }}</div>
            <div class="item-info font-montserrat">{{translations.product.product_8 | translate }}</div>
          </div>
          <div class="right img-path-1">
            <div class="img-box" data-aos="flip-up" data-aos-duration="1300">
              <img src="./../../assets/icon/box_10_item_img_1.png" alt="">
            </div>
          </div>
        </div>
        <div class="item position-right">
          <div class="right img-path-2">
            <div class="img-box" data-aos="flip-up" data-aos-duration="1300">
              <img src="./../../assets/icon/box_10_item_img_2.png" alt="">
            </div>
          </div>
          <div class="left">
            <div class="item-title">{{translations.product.product_9 | translate }}</div>
            <div class="item-info font-montserrat">{{translations.product.product_10 | translate }}</div>
          </div>
        </div>
        <div class="item">
          <div class="left">
            <div class="item-title">{{translations.product.product_11 | translate }}</div>
            <!-- <div class="sub-title-box">
              <div class="sub-title">・VoD Media Acceleration</div>
              <div class="sub-title">・One-stop cloud video platform</div>
              <div class="sub-title">・RTMP/HLS/FLV/WebRTC Live Streaming</div>
            </div> -->
            <div class="item-info font-montserrat">{{translations.product.product_12 | translate }}</div>
          </div>
          <div class="right img-path-3">
            <div class="img-box" data-aos="flip-up" data-aos-duration="1300">
              <img src="./../../assets/icon/box_10_item_img_3.png" alt="">
            </div>
          </div>
        </div>
        <div class="item position-right">
          <div class="right img-path-4">
            <div class="img-box" data-aos="flip-up" data-aos-duration="1300">
              <img src="./../../assets/icon/box_10_item_img_4.png" alt="">
            </div>
          </div>
          <div class="left">
            <div class="item-title">{{translations.product.product_13 | translate }}</div>
            <!-- <div class="sub-title-box">
              <div class="sub-title">・Cloud object storage</div>
              <div class="sub-title">・Image compressions</div>
              <div class="sub-title">・Advanced cache control</div>
            </div> -->
            <div class="item-info font-montserrat">{{translations.product.product_14 | translate }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="12" class="box_12 page">
  <div class="container">
    <div class="row">
      <div class="title-box">
        <div class="title font-montserrat-bold">{{translations.product.product_15 | translate }}</div>
        <div class="info font-montserrat">{{translations.product.product_16 | translate }}</div>
      </div>
      <div class="content">
        <div class="item" data-aos="flip-up" data-aos-duration="1300">
          <div class="left">
            <div class="img-box">
              <img src="./../../assets/icon/box_12_item_img_1.svg" alt="">
            </div>
          </div>
          <div class="right">
            <div class="item-title font-montserrat">{{translations.product.product_17 | translate }}</div>
            <div class="item-info font-montserrat">・{{translations.product.product_18 | translate }}</div>
            <div class="item-info font-montserrat">・{{translations.product.product_19 | translate }}</div>
          </div>
        </div>
        <div class="item" data-aos="flip-up" data-aos-duration="1300">
          <div class="left">
            <div class="img-box">
              <img src="./../../assets/icon/box_12_item_img_2.svg" alt="">
            </div>
          </div>
          <div class="right">
            <div class="item-title font-montserrat">{{translations.product.product_20 | translate }}</div>
            <div class="item-info font-montserrat">・{{translations.product.product_21 | translate }}</div>
            <div class="item-info font-montserrat">・{{translations.product.product_22 | translate }}</div>
          </div>
        </div>
        <div class="item" data-aos="flip-up" data-aos-duration="1300">
          <div class="left">
            <div class="img-box">
              <img src="./../../assets/icon/box_12_item_img_3.svg" alt="">
            </div>
          </div>
          <div class="right">
            <div class="item-title font-montserrat">{{translations.product.product_23 | translate }}</div>
            <div class="item-info font-montserrat">・{{translations.product.product_24 | translate }}</div>
          </div>
        </div>
        <div class="item" data-aos="flip-up" data-aos-duration="1300">
          <div class="left">
            <div class="img-box">
              <img src="./../../assets/icon/box_12_item_img_4.svg" alt="">
            </div>
          </div>
          <div class="right">
            <div class="item-title font-montserrat">{{translations.product.product_25 | translate }}</div>
            <div class="item-info font-montserrat">・{{translations.product.product_26 | translate }}</div>
          </div>
        </div>
        <div class="item" data-aos="flip-up" data-aos-duration="1300">
          <div class="left">
            <div class="img-box">
              <img src="./../../assets/icon/box_12_item_img_5.svg" alt="">
            </div>
          </div>
          <div class="right">
            <div class="item-title font-montserrat">{{translations.product.product_27 | translate }}</div>
            <div class="item-info font-montserrat">・{{translations.product.product_28 | translate }}</div>
          </div>
        </div>
        <div class="item" data-aos="flip-up" data-aos-duration="1300">
          <div class="left">
            <div class="img-box">
              <img src="./../../assets/icon/box_12_item_img_6.svg" alt="">
            </div>
          </div>
          <div class="right">
            <div class="item-title font-montserrat">{{translations.product.product_29 | translate }}</div>
            <div class="item-info font-montserrat">・{{translations.product.product_30 | translate }}</div>
            <div class="item-info font-montserrat">・{{translations.product.product_31 | translate }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="11" class="box_11 page">
  <div class="container">
    <div class="row">
      <div class="title-box">
        <div class="title font-montserrat-bold">{{translations.product.product_32 | translate }}</div>
        <div class="info font-montserrat">{{translations.product.product_33 | translate }}</div>
      </div>
      <div class="content">
        <div class="item" data-aos="fade-up" data-aos-duration="1300">
          <div class="left">
            <div class="img-box">
              <img src="./../../assets/icon/box_11_item_img_1.png" alt="">
            </div>
          </div>
          <div class="right">
            <div class="item-title">{{translations.product.product_34 | translate }}</div>
            <div class="item-info font-montserrat">{{translations.product.product_35 | translate }}</div>
          </div>
        </div>
        <div class="item" data-aos="fade-up" data-aos-duration="1300">
          <div class="left">
            <div class="img-box">
              <img src="./../../assets/icon/box_11_item_img_2.png" alt="">
            </div>
          </div>
          <div class="right">
            <div class="item-title">{{translations.product.product_36 | translate }}</div>
            <div class="item-info font-montserrat">{{translations.product.product_37 | translate }}</div>
          </div>
        </div>
        <div class="item" data-aos="fade-up" data-aos-duration="1300">
          <div class="left">
            <div class="img-box">
              <img src="./../../assets/icon/box_11_item_img_3.png" alt="">
            </div>
          </div>
          <div class="right">
            <div class="item-title">{{translations.product.product_38 | translate }}</div>
            <div class="item-info font-montserrat">{{translations.product.product_39 | translate }}</div>
          </div>
        </div>
        <div class="item" data-aos="fade-up" data-aos-duration="1300">
          <div class="left">
            <div class="img-box">
              <img src="./../../assets/icon/box_11_item_img_4.png" alt="">
            </div>
          </div>
          <div class="right">
            <div class="item-title">{{translations.product.product_40 | translate }}</div>
            <div class="item-info font-montserrat">{{translations.product.product_41 | translate }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-common-contact></app-common-contact>