.box{
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #FF8200;
  transition: .5s;
  cursor: pointer;
  &:hover{
    background-color: #ffa242;
  }
  img{
    width: 70%;
  }
}

@media only screen and (max-width: 576px) {
  .box{
    width: 20px;
    height: 20px;
  }
}